@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,600;0,700;1,200&display=swap');

:root {
    --black: #272D3B;
    --red: #ED176F;
    --coral: #F7817F;
    --gradient: linear-gradient(90deg, var(--red), var(--coral));
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--red);
    color: #FFF;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

section {
    padding: 3rem 9%;
}

.btn {
    display: inline-block;
    padding: .7rem 3rem;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--gradient);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover {
    transform: scale(1.1);
}

.heading {
    text-align: center;
    color: transparent;
    background: var(--gradient);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 5rem;
    text-transform: uppercase;
    padding: 1rem;
}